
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F8F9FA;
}

img {
  width: 50%;
  margin-bottom: 50px;
}

button {
  background-color: #28A745;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #218838;
}

