.Inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://w7.pngwing.com/pngs/777/495/png-transparent-kitchen-cook-restaurant-chef-vinyl-group-kitchen-miscellaneous-kitchen-food.png');
  background-size: cover;
  background-position: center;
}

.Inicio h1 {
  color: #f78f09;
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.Inicio h2 {
  color: #f78f09;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.Inicio img {
  max-width: 100%;
  max-height: 100%;
}

.Inicio button {
  background-color: #fff;
  color: #333;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
}

.Inicio button:hover {
  background-color: #333;
  color: #fff;
}

