
.cards-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  list-style-type: none;
}

.cards-container h1 {
  color: rgb(236, 120, 10);
}

.search {
  margin: 20px 0;
}

.search label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.search input[type="search"] {
  padding: 10px;
  width: 60%;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
}

.search button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.search button:hover {
  background-color: #0062cc;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-link {
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.page-link:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.page-link.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
