

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7D488;
  padding: 20px;
}

.nav-filters,
.nav-order {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.nav-filters select,
.nav-order button {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #F4A261;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav-filters select:hover,
.nav-order button:hover {
  background-color: #EE6C4D;
}

.nav-buttons button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #F4A261;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav-buttons button:hover {
  background-color: #EE6C4D;
}
